<p>viewemitable works!</p>
<div class="body">
    <h4 style="margin-left: 300px; margin-top: 20px;">EMI Details</h4>
    
    <table id="customers">
      <tr>
        <th>EMI Details Id</th>
        <th>EMI Status</th>
        <th>EMI Tenure</th>
        <th>EMI Amount</th>
        <th>EMI Date</th>
      </tr>
      <tr *ngFor="let item of allenquiries | paginate: { itemsPerPage: 5, currentPage: p}" >
        <td>{{item.customerLoanDetails.emitable.emiDetailsId}}</td>
        <td>{{item.customerLoanDetails.emitable.emiStatus}}</td>
        <td>{{item.customerLoanDetails.emitable.emiTenure}}</td>
        <td>{{item.customerLoanDetails.emitable.emiAmount}}</td>
        <td>{{item.customerLoanDetails.emitable.emidate}}</td>                
      </tr>
      <tr>
      <td colspan="4"><pagination-controls (pageChange)="p = $event"></pagination-controls> </td> </tr>
    
    </table>
    </div>
    <router-outlet></router-outlet>
