<!DOCTYPE html>
<html>

<head>    
<link rel="stylesheet" href="faq.component.css">
</head>

<body>
<h2 style="color:rgb(52, 143, 29); text-align:center">
	Frequently Asked Questions
</h2>
<div class="layout">
	<div class="accordion">
	<div class="accordion__question">
		<p>Why should you apply for Smart Capital Business Loans?</p><br>
        	</div>
	<div class="accordion__answer">
		<p>We at Smart Capital, have the required support ready for you with our Business Loan schemes. Get access to quality banking services and unlimited opportunities, some of which are:<br>
            1.Avail a loan from Rs. 3 lakh to Rs. 75 lakhs<br>
            2.Speedy approval of a loan<br>
            3.Smooth processing of a loan<br>
            4.Customised service to suit business needs<br>
            5.Minimal paperwork for availing a loan<br>
            6.Flexible options for repayment of a loan</p>
	</div>
	</div>

	<div class="accordion">
	<div class="accordion__question">
		<p>How do I calculate my Business Loan EMIs?</p>
	</div>

	<div class="accordion__answer">
		<p>
            To know how much EMI you would have to pay every month, try our easy-to-use business loan emi calculator. Simply enter the following details & Know your EMI:
            <br>
            1.Loan Amount<br>
            2.Desired Interest Rates (%)<br>
            3.Tenure in Years/Months
		</p>
	</div>
	</div>

    <div class="accordion">
        <div class="accordion__question">
            <p>Who could be eligible for a Business Loan?</p>
        </div>
    
        <div class="accordion__answer">
            <p>
                Are you thinking of availing a business loan anytime soon? Browse through our business loan eligibility criteria mentioned below, to make sure your business loan is approved at the very first go:
                <br>
                1.The applicant has to be in business for last 3 years with a minimum turnover of Rs.40 Lakhs<br>
                2.The business must have generated profit for a minimum of 1 year<br>
                3.The applicant should be a Sole Proprietor / Partnership firm / Private Ltd Co. / Trust / LLP involved in the business of Manufacturing, Trading or Services<br>
                4.The main applicant should be minimum of 25 years of age & should be no older than 65 years at the time of loan maturity.<br>
                5.Check out the criteria for business loans eligibility to know more.
            </p>
        </div>
        </div>

        <div class="accordion">
            <div class="accordion__question">
                <p>What are the benefits of Smart Capital Business Loans?</p>
            </div>
        
            <div class="accordion__answer">
                <p>
                    Smart Capital Business Loans are available from Rs. 3 lakhs to Rs. 75 Lakhs. Minimal paperwork and speedy approvals are designed to speed up the entire process, which helps us making your banking experience fruitful.
                </p>
            </div>
            </div>

            <div class="accordion">
                <div class="accordion__question">
                    <p>What are the fees and charges associated with Smart Capital Business Loans?</p>
                </div>
            
                <div class="accordion__answer">
                    <p>
                        1.Processing fees: Maximum 2% of the loan / facility amount (Plus GST)<br>
                         Documentation Charges:<br>
                        1.Loan amount less than 10 Lakhs - Rs.3500/- (Plus GST)<br>
                        2.Loan amount greater than 10 Lakhs - Rs.6000/- (Plus GST)<br>
                        3.Check out the business loan rates for availing the business loan.
                    </p>
                </div>
                </div>

                <div class="accordion">
                    <div class="accordion__question">
                        <p>How much EMI do I have to pay for a Business Loan?</p>
                    </div>
                
                    <div class="accordion__answer">
                        <p>
                            To know how much EMI you would have to pay every month, try our easy-to-use business loan emi calculator. Simply enter the following details & Know your EMI:
                            <br>
                            1.Loan Amount<br>
                            2.Desired Interest Rates (%)<br>
                            3.Tenure in Years/Months
                        </p>
                    </div>
                    </div>

                    <div class="accordion">
                        <div class="accordion__question">
                            <p>What are the documents that I need for getting a Business Loan?</p>
                        </div>
                    
                        <div class="accordion__answer">
                            <p style="text-align: center;">
                                Be ready with following documents while applying for this loan <br><br>
                                (Original for verification and self-attested copies for submission)<br></p>
                                <table class="table table-striped">
                                    <p style="text-align: center;"> <thead>
                                      <tr>
                                        <th scope="col">Mandatory Documents</th>
                                        <th scope="col"></th>
                                      </tr>
                                    </thead>
                                      <tbody>
                                      <tr>
                                        <th scope="row">Identity proof</th>
                                        <td style="font-size: medium;">PAN Card/ Aadhaar Card</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Address Proof</th>
                                        <td style="font-size: medium;">Aadhaar Card/Utility Bill/Bank Statement/Bank Account Passbook (Updated and no more than 3 months old)</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Ownership proof</th>
                                        <td style="font-size: medium;">Agreement Copy / Electricity Bill / Maintenance Bill with share certificate / Municipal tax bill/Share certificate</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Business continuity proof</th>
                                        <td style="font-size: medium;">Shop and Establishment certificate/Tax registrations-VAT/Service tax/GST registrations</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Firm Constitution</th>
                                        <td style="font-size: medium;">MOA/AOA/PartnerShip Deed/GST Registration Certificate</td>
                                      </tr>
                                      <tr>
                                        <th scope="col">As per Program</th>
                                        <th scope="col"></th>
                                      </tr>
                                      <tr>
                                        <th scope="row">Financial</th>
                                        <td style="font-size: medium;">1.Latest two years financials.</td>
                                      </tr>
                                      <tr>
                                        <th scope="row"></th>
                                        <td style="font-size: medium;">2.Latest Tax Audit Report.</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Banking</th>
                                        <td style="font-size: medium;">Last six months bank statement (Business Accounts)</td>
                                      </tr>
                                      
                                    </tbody></p>
                                </table>
                            
                        </div>
                        </div>
                        
                            </div>

</body>

</html>