<div class="body">


<form [formGroup]="sanctionForm" (ngSubmit)="sendEmail()">
    <h3>Sanction Letter</h3>
    <br>
       
      <div class="form-group">
        <label class="label">applicationId :</label><br>
           <input type="text" class="col-xs-3" formControlName="applicationId">
    </div>

    <div class="form-group">
        <label class="label">Customer Name :</label><br>
           <input type="text" class="col-xs-3"  formControlName="customerName">
    </div>

     <div class="form-group">
      <label class="label">Loan Amount  :</label><br>
         <input type="text" class="col-xs-3"  formControlName="expectedLoanAmount">
    </div>
   
    <div class="form-group">
      <label class="label">Rate of Interest :</label><br>
         <input type="text" class="col-xs-3"  formControlName="rateOfInterest">
    </div>
    
    <div class="form-group">
      <label class="label">Tenure :</label><br>
       <input type="text" class="col-xs-3"  formControlName="expectedLoanTenure">
    </div>
  
    <div class="form-group">
        <label class="label">EMI Amount :</label><br>
         <input type="text" class="col-xs-3" formControlName="emiAmount">
    </div>
    
    <br><br>
    <div class="form-button">
    <a class="button-33">Send Mail</a>
    </div>

</form>
    </div>
    <router-outlet></router-outlet>





