<div class="body">

<!-- RE -->
<div *ngIf="currentRoute=='/reprofile/viewCustomer'">
  <h4 style="margin-left: 300px; margin-top: 20px;">Customer list</h4>
  <table class="table" style="margin-left: 300px" id="custapplications">
    <thead>
      <tr>
        <th scope="col">Application Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Application Status</th>
        <th scope="col">Show details</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of cf">
         <td>{{c.applicationId}}</td>
        <td>{{c.customerDetails.customerName}}</td>
        <td>{{c.applicationStatus}}</td>
        <td><a [routerLink]="['customerfulldetails',c.applicationId]">show details</a></td>
         <td><a class="btn">
           <i class="fa fa-edit" [routerLink]="['updatecustomer']" [state]="c"></i></a></td>
        <td><i class="fa fa-trash-o" aria-hidden="true" (click)="deleteData(c.applicationId)"></i></td>     
    </tr>
      </tbody>
  </table>
    <a style="margin-left: 300px;" routerLink="/reprofile/registerCustomer"><button>Loan Application Form</button></a>
  </div> 

  <!-- CREDIT ANALYST -->
  <div *ngIf="currentRoute=='/caprofile/viewCustomer'">
<h4 style="margin-left: 300px; margin-top: 20px;">Customer list</h4>
<table class="table" style="margin-left: 300px" id="custapplications">
  <thead>
    <tr>
      <th scope="col">Application Id</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Application Status</th>
      <th scope="col">action</th>
      <th>Full Details</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cf">
       <td>{{c.applicationId}}</td>
      <td>{{c.customerDetails.customerName}}</td>
      <td><select value="c.applicationStatus" (change)="modo($event.target.value)">
         <option value="c.applicationStatus">{{c.applicationStatus}}*</option>
        <option value="Verified">Verified </option>
        <option value="Rejected">Rejected </option>
        <option value="registered">registered </option>
        <option value="Sanctioned">Sanctioned </option>
      </select>
        </td>
        <td *ngIf="c.applicationStatus=='Rejected'"><button (click)="rejectionMail(c)">rejection mail</button></td>
        <td *ngIf="c.applicationStatus=='Verified'"><a>sanction process</a></td>
        <td *ngIf="c.applicationStatus=='Sanctioned'"><a>disbursement process</a></td>
        <td *ngIf="c.applicationStatus=='registered'"><a>verification process</a></td>
      <td><a [routerLink]="['customerfulldetails',c.applicationId]">show details</a></td>  
      <td><button (click)="updatestatus(c)">Save</button></td> 
  </tr>
    </tbody>
</table>
  
</div> 


<!-- FINANCE HEAD -->
<div *ngIf="currentRoute=='/fhprofile/viewCustomer'"> 
<h4 style="margin-left: 300px; margin-top: 20px;">Customer list</h4>
<table class="table" style="margin-left: 300px" id="custapplications">
  <thead>
    <tr>
      <th scope="col">Application Id</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Loan Amount </th>
      <th scope="col">Rate of Interest</th>
      <th scope="col">Tenure</th>
      <th scope="col">Application Status</th>
      <th scope="col">Generate sanction</th>
      <th scope="col">updateStatus</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cf">
       <td>{{c.applicationId}}</td>
       <td>{{c.customerDetails.customerName}}</td>
       <td>{{c.customerLoanDetails.expectedLoanAmount}}</td>
       <td>{{c.customerLoanDetails.rateOfInterest}}</td>
       <td>{{c.customerLoanDetails.expectedLoanTenure}}</td>
       <td><select value="c.applicationStatus" (change)="modo($event.target.value)">
        <option value="c.applicationStatus">{{c.applicationStatus}}*</option>
        <option value="Verified">Verified </option>
        <option value="Rejected">Rejected </option>
        <option value="registered">registered </option>
       <option value="Sanctioned">Sanctioned</option>
     </select>
       </td>
      <td><a routerLink="/fhprofile/sanction" [state]="c">Generate Sanction</a></td> 
      <td *ngIf="c.applicationStatus=='Rejected'"><button (click)="rejectionMail(c)">rejection mail</button></td>
        <td *ngIf="c.applicationStatus=='Verified'"><a>sanction process</a></td>
        <td *ngIf="c.applicationStatus=='Sanctioned'"><a>disbursement process</a></td>
        <td *ngIf="c.applicationStatus=='registered'"><a>verification process</a></td>
        <td><button (click)="updatestatus(c)">save</button></td>
  </tr>
     </tbody>
</table></div>

<!-- Branch Manager -->
<div *ngIf="currentRoute=='/bmprofile/viewCustomer'"> 
  <h4 style="margin-left: 300px; margin-top: 20px;">Customer list</h4>
  <table class="table" style="margin-left: 300px" id="custapplications">
    <thead>
      <tr>

        <th scope="col">Application Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Sanction Amount </th>
        <th scope="col">Rate of Interest</th>
        <th scope="col">Tenure</th>
        <th scope="col">Application Status</th>
        <th scope="col">Disbursement</th>
        <th scope="col">Action</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of cf">
         <td>{{c.applicationId}}</td>
         <td>{{c.customerDetails.customerName}}</td>
         <td>{{c.customerLoanDetails.expectedLoanAmount}}</td>
         <td>{{c.customerLoanDetails.rateOfInterest}}</td>
         <td>{{c.customerLoanDetails.expectedLoanTenure}}</td>
        <td>{{c.applicationStatus}}</td>
        <td *ngIf="c.applicationStatus=='Rejected'"><button (click)="rejectionMail(c)">rejection mail</button></td>
        <td *ngIf="c.applicationStatus=='Verified'"><a>sanction process</a></td>
        <td *ngIf="c.applicationStatus=='Sanctioned'"><a>disbursement process</a></td>
        <td *ngIf="c.applicationStatus=='registered'"><a>verification process</a></td>
        <td><button>Disburse</button></td>
        <td><button>PDF</button></td>
        
        <!-- <td><a routerLink="/bmprofile/" [state]="c">Generate Sanction</a></td>  -->
    </tr>
       </tbody>
  </table></div>
  
        <th scope="col">Loan Id</th>
        <th scope="col">Expectd Loan Amount</th>
        <th scope="col">Expectd Loan Tenure</th>
        <th scope="col">Rate Of Interest</th>
        <th scope="col">EMI Amount</th>
        <th scope="col">Loan Status</th>
        <th scope="col">Loan Disbursed Status</th>
        <th scope="col">Defaulter Count</th>
        <th scope="col">EMI Details Id</th>
        <th scope="col">EMI Status</th>
        <th scope="col">EMI Tenure</th>
        <th scope="col">EMI Paid</th>
        <th scope="col">EMI Date</th>
        
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of ld">
         <td>{{c.customerLoanDetails.emitable.emiDetailsId}}</td>
         <td>{{c.customerLoanDetails.emitable.emiStatus}}</td>
         <td>{{c.customerLoanDetails.emitable.emiTenure}}</td>
         <td>{{c.customerLoanDetails.emitable.emiPaid}}</td> 
         <td>{{c.customerLoanDetails.emitable.emidate}}</td>
        </tr>
       </tbody>
  </table></div>  

  
  <router-outlet></router-outlet>