<div class="body">
<h4 style="margin-left: 300px; margin-top: 20px;">Customer list</h4>
<br><br>
<table class="table" style="margin-left: 300px">
  <thead>
    <tr>
      <th scope="col">Application Id</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Application Status</th>
      <th scope="col">Show details</th>
     <th scope="col">Edit</th>
      <th scope="col">Delete</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cf">
       <td>{{c.applicationId}}</td>
      <td>{{c.customerDetails.customerName}}</td>
      <td>{{c.applicationStatus}}</td>
      <td><a [routerLink]="['customerfulldetails',c.applicationId]">show details</a></td>

      <td><a class="btn">
         <i class="fa fa-edit" [routerLink]="['updatecustomer']" [state]="c"></i></a></td>
      <td><i class="fa fa-trash-o" aria-hidden="true" (click)="deleteData(c.applicationId)"></i></td> 
      
  </tr>
    
  </tbody>
</table>
  <br><br>
  
  <a style="margin-left: 300px;" routerLink="/reprofile/registerCustomer"><button>Loan Application Form</button></a>
</div>
  <router-outlet></router-outlet>