/* table{
  width: 80%;
} */

.body{
  background-color: #c8e8e9;
  display: flow-root;
}
#custapplications{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:70%;
    margin-left: 300px;
}
#custapplications td,#custapplications th{
    border: 1px solid #ddd;
    padding: 8px;
}
#custapplications tr:nth-child(even){background-color: #f2f2f2;} 

#custapplications th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
