<div class="navbar">
    <a href="http://localhost:4200/"><i class="fa fa-fw fa-home"></i> Home</a> 
    <a routerLink="/emicalculator"><i class="fa fa-id-card"></i>EMI Calculator</a>
    <a routerLink="/faqs"><i class="fa fa-list-ol"></i>FAQs</a> 
    <a routerLink="/applyforloan"><i class="fa fa-list-ol"></i>Apply For Loan</a> 
    <a routerLink="/employee"><i class="fa fa-fw fa-user"></i>Employee</a>
    <a routerLink="/aboutus"><i class="fa fa-list-ol"></i> About Us</a> 
    <a routerLink="/contactus"><i class="fa fa-list-ol"></i> Contact Us</a> 
  </div>
  <router-outlet></router-outlet>
