.body{
    background-color: #c8e8e9;
    display: flow-root;
}
a{
    margin-left: 300px;
}

table{
   width: 1140px;
   border: 1px;
}

td,#custapplications th{
    border: 1px solid #ddd;
    padding: 8px;
}
#custapplications tr:nth-child(even){background-color: #f2f2f2;} 

#custapplications th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }
