<div class="body">
<div class="sidenav">

    <a routerLink="/fhprofile/fhpersonal"><img src="assets/images\80-805068_my-profile-icon-blank-profile-picture-circle-clipart.png"></a><br>
    <h5>Finance Head</h5><br><br>
      
      <a routerLink="/fhprofile/viewCustomer">View Registered Customers</a>
      <br><br>

    

  </div>
  
  <div class="topnav">
    <input type="text" placeholder="Search..">
    <a href="http://localhost:4200" class="split">LogOut</a>
  </div>
  </div><router-outlet></router-outlet>