<div class="about-section">
    <h1>About Smart Capital </h1>
  <div class="about-section1">
   <h3> <p>Smart Capital works to ignite change and spark action so small businesses can confidently start, grow, expand, or recover.</p></h3>
<p>Created in 2017, Smart Capital continues to help small business owners and entrepreneurs pursue the American dream. Smart Capital is the only cabinet-level federal agency fully dedicated to small business and provides counseling, capital, and contracting expertise as the nation’s only go-to resource and voice for small businesses.</p>  
</div>
</div>
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/person.png" alt="Liza" style="width:100%">
        <div class="container">
          <h2>Liza Patel</h2>
          <p class="title">Employee</p>
          <p></p>
          <p>lizapatel1212@gmail.com</p>
         
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/person.png" alt="Payal" style="width:100%">
        <div class="container">
          <h2>Payal Sune</h2>
          <p class="title">Employee</p>
          <p></p>
          <p>abc@gamil.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
          <img src="/assets/person.png" alt="Mahesh" style="width:100%">
          <div class="container">
            <h2>Mahesh Masne</h2>
            <p class="title">CEO & Director</p>
            <p></p>
            <p>abc@gamil.com</p>
            
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/assets/person.png" alt="Neeraj" style="width:100%">
          <div class="container">
            <h2>Neeraj </h2>
            <p class="title">Employee</p>
            <p></p>
            <p>abc@gamil.com</p>
            
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/assets/person.png" alt="Hrishikesh" style="width:100%">
          <div class="container">
            <h2>Hrishikesh</h2>
            <p class="title">Employee</p>
            <p></p>
            <p>abc@gamil.com</p>
            
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/assets/person.png" alt="Gajanan" style="width:100%">
          <div class="container">
            <h2>Gajanan</h2>
            <p class="title">Employee</p>
            <p></p>
            <p>abc@gamil.com</p>
            
          </div>
        </div>
      </div>
      

    <div class="column">
      <div class="card">
        <img src="/assets/person.png" alt="Preeti" style="width:100%">
        <div class="container">
          <h2>Preeti Kharche</h2>
          <p class="title">Employee</p>
          <p></p>
          <p>abc@gmail.com</p>
        
        </div>
      </div>
    </div>
  </div>
