<div class="body">
<div class="sidenav">

  <img src="assets/images\80-805068_my-profile-icon-blank-profile-picture-circle-clipart.png"><br>
    <h5 style="margin-left: 50px;">Admin</h5><br><br>
      
  </div>
  
  <div class="topnav">
    <input type="text" placeholder="Search..">
    <a href="http://localhost:4200/employee" class="split">LogOut</a>
  </div>
  

<button routerLink="registeremployee" style="margin-left: 300px;">Add new Employee</button>


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Employee Date Of Birth</th>
        <th scope="col">Employee Gender</th>
        <th scope="col">Employee Salary</th>
        <th scope="col">Employee Role</th>
        <th scope="col">Employee Address</th>
        <th scope="col">Employee Mobile No</th>
        <th scope="col">Employee Email ID</th>
        <th scope="col">UserName</th>
        <th scope="col">Password</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of e">
         <td>{{employee.empId}}</td>
        <td>{{employee.empName}}</td>
        <td>{{employee.empDateofBirth}}</td>
        <td>{{employee.empGender}}</td>
        <td>{{employee.empSalary}}</td>
        <td>{{employee.empRole}}</td>
        <td>{{employee.empAddress}}</td>
        <td>{{employee.empMobileno}}</td>
        <td>{{employee.empEmailId}}</td>
        <td>{{employee.username}}</td>
        <td>{{employee.password}}</td>
        <td><i class="fa fa-pencil-square-o" aria-hidden="true" routerLink="updateemployee" [state]="employee"></i></td>
        <td><i class="fa fa-trash-o" aria-hidden="true" (click)="deleteEmployee(employee.empId)"></i></td>
    </tr>  
    </tbody>
     </table>
    </div>
     <br><br>
     
     <!-- <pagination-controls (pageChange)="cp=$event" style="text-align: center;"></pagination-controls> 
  <br> -->

  <router-outlet></router-outlet>


   