<div class="body">
<form [formGroup]="enquiryForm" (ngSubmit)="submit()">
<div class="two">
    <h1>Enquiry Registration Form 
    <span>Fill Details</span></h1>
</div>

    <div *ngIf="steps==1">
        <h3>Enquiry Details</h3>
        <div class="row">
            <div class="col">
        <div class="form-group">
            <label class="label"> Customer Name : </label><br>
           <input type="text" class="col-xs-3" formControlName="customerName">
        </div>
    </div>
<div class="col">
        <div class="form-group">
            <label class="label">Company Name : </label><br>
            <input type="text" class="col-xs-3" formControlName="companyName">
        </div>
            </div></div>

            <div class="row">
                <div class="col">
        <div class="form-group">
            <label class="label">Types OF Business : </label><br>
            <input type="text" class="col-xs-3" formControlName="typesOfBusiness">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label class="label">Customer Address : </label><br>
            <input type="text" class="col-xs-3" formControlName="customerAddress">
        </div>
</div></div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label class="label">Customer Pancard Number: </label><br>
            <input type="text" class="col-xs-3" formControlName="customerPancardNumber">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label class="label">Company Pancard Number :</label><br>
            <input type="text" class="col-xs-3"  formControlName="companyPancardNumber">
        </div>
        </div></div>
    </div>

    <div *ngIf="steps==2">
        <h3>Enquiry Details </h3>
        <div class="row">
            <div class="col">
        <div class="form-group">
            <label class="label">Mobile Number : </label><br>
            <input type="text" class="col-xs-3" formControlName="mobileNumber">
        </div>
    </div>
<div class="col">
        <div class="form-group">
            <label class="label">Alternate Mobile Number : </label><br>
            <input type="text" class="col-xs-3" formControlName="alternateMobileNumber">
        </div>
</div></div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label class="label">Email Id : </label><br>
            <input type="text" class="col-xs-3" formControlName="emailId">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label class="label">ITR Status : </label><br>
            <input type="text" class="col-xs-3" formControlName="itrStatus">
        </div>
</div></div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label class="label">Enquiry Status : </label><br>
            <input type="text" class="col-xs-3"  formControlName="enquiryStatus">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label class="label">Registration Status :</label><br>
            <input type="text" class="col-xs-3" formControlName="registrationStatus">
        </div>
</div></div>

<h3 formGroupName="cibilscore">
        <div class="form-group">
            <label class="label">Cibilscore Remark :</label><br>
             <input type="text" class="col-xs-3"   formControlName="cibilRemark">
        </div>
    </h3>
    </div>

    <div class="form-button">
        <a class="button-33" *ngIf="steps!=1" (click)="previous()"><<</a> &nbsp;
        <button type="submit" class="button-33" *ngIf="steps!=2">>></button>
        <a class="button-33" *ngIf="steps==2" (click)="clickreg()">Submit</a>
    </div>

</form>
</div>