<div class="body">
  <h4 style="margin-left: 300px; margin-top: 30px; color: rgb(0, 145, 255);">Enquiry List : </h4><br>

<table id="customers">
  <tr>
    <th>Owner Name</th>
    <th>Company Name</th>
    <th>Address</th>
    <th>Type Of Business</th>
    <th *ngIf="currentRoute=='/reprofile/viewenquiry'">Enquiry Status</th>
    <th>Pancard Number(C)</th>
    <th>Cibil Remark</th>
    <th>Registration Status</th>
    <th *ngIf="currentRoute=='/oeprofile/viewenquiry'">Generate Cibil</th>
  </tr>
  <tr *ngFor="let item of allenquiries | paginate: { itemsPerPage: 5, currentPage: p}" >
    <td>{{item.customerName}}</td>
    <td>{{item.companyName}}</td>
    <td>{{item.customerAddress}}</td>
    <td>{{item.typesOfBusiness}}</td>
    <td *ngIf="currentRoute=='/reprofile/viewenquiry'">{{item.enquiryStatus}}</td>
    <td>{{item.companyPancardNumber}}</td>
    <td >{{item.cibilscore.cibilRemark}}</td>
    <td *ngIf="item.enquiryStatus=='Pending'&& currentRoute=='/reprofile/viewenquiry'">{{item.registrationStatus}}</td>
    <td *ngIf="currentRoute=='/oeprofile/viewenquiry'">{{item.registrationStatus}}</td>
    <td *ngIf="item.enquiryStatus=='Cibil Generated'&& currentRoute=='/reprofile/viewenquiry' && item.cibilscore.cibilRemark!='Low'"><button routerLink="/reprofile/registerCustomer" [state]="item">Register</button></td>
    <td *ngIf="item.enquiryStatus=='Cibil Generated'&& currentRoute=='/reprofile/viewenquiry' && item.cibilscore.cibilRemark=='Low'"><button (click)="lowcibilmail(item)">Rejection Mail</button></td>
    <td *ngIf="currentRoute=='/oeprofile/viewenquiry'"> <button (click)="generate(item.enquiryId)">Generate Cibil</button></td>
    
  </tr>
  <tr>
  <td colspan="4"><pagination-controls (pageChange)="p = $event"></pagination-controls> </td> </tr>
</table>


<a style="margin-left: 300px;" routerLink="/reprofile/enquiry"><button>New Enquiry</button></a>
</div>
<router-outlet></router-outlet>