<div class="body">
<h4 style="margin-left: 300px; margin-top: 20px;">Enquiry list</h4>
<br><br>
<table id="customers">
  <tr>
    <th>Owner Name</th>
    <th>Company Name</th>
    <th>Address</th>
    <th>Type Of Business</th>
    <th>Enquiry Status</th>
    <th>Pancard Number(C)</th>
    <th>Registration Status</th>
    <th>Cibil Remark</th>
  </tr>
  <tr *ngFor="let item of allenquiries | paginate: { itemsPerPage: 5, currentPage: p}" >
    <td>{{item.customerName}}</td>
    <td>{{item.companyName}}</td>
    <td>{{item.customerAddress}}</td>
    <td>{{item.typesOfBusiness}}</td>
    <td>{{item.enquiryStatus}}</td>
    <td>{{item.companyPancardNumber}}</td>
    <td>{{item.registrationStatus}}</td>
    <td>{{item.cibilscore.cibilRemark}}</td>
  </tr>
  <tr>
  <td colspan="3"><pagination-controls (pageChange)="p = $event"></pagination-controls></td></tr>

</table>


<a style="margin-left: 300px;" routerLink="/reprofile/enquiry"><button>New Enquiry</button></a>
</div>
<router-outlet></router-outlet>