<div class="body">
<h4 style="margin-left: 300px; margin-top: 20px;">Enquiry list</h4>
<br><br>
<table id="customers">
  <tr>
    <th>Name</th>
    <th>Company Name</th>
    <th>Address</th>
    <th>Mobile no</th>
    <th>email id</th>
    <th>ITR status</th>
    <th>Enquiry status</th>
    <th>registration status</th>
  </tr>
  <tr *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p ,totalItems:4}" >
  </tr>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</table>

<br><br>
<a style="margin-left: 300px;" routerLink="/reprofile/enquiry"><button>New Enquiry</button></a>
</div>
<router-outlet></router-outlet>