<p>view-leave-details works!</p>
<div class="body">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Leave Application Id</th>
            <th scope="col">Employee Id</th>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            <th scope="col">Leave Type</th>
            <th scope="col">Leave Application Status</th>
            <th scope="col">Save</th>
         </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leavedetails of l ">
             <td>{{leavedetails.leaveAppId}}</td>
            <td>{{leavedetails.empId}}</td>
            <td>{{leavedetails.fromDate}}</td>
            <td>{{leavedetails.toDate}}</td>
            <td>{{leavedetails.leaveType}}</td>
            <td><select  value="leavedetails.leaveappstatus" (change)="modo($event.target.value)">
              <option  value="leavedetails.leaveappstatus"> {{leavedetails.leaveappstatus}}* </option>
              <option value="Pending">Pending</option>
              <option value="Approved"> Approved </option>
              <option value="Rejected"> Rejected </option>
            </select>
            </td>
            <td>
              <button (click)="updatestatus(leavedetails)">Save</button></td>
           </tr>  
        </tbody>
         </table>
         