<p>view-leave-details works!</p>
<div class="body">

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Leave Application Id</th>
            <th scope="col">Employee Id</th>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            <th scope="col">Leave Type</th>
            <th scope="col">Leave Application Status</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
         </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leavedetails of l">
             <td>{{leavedetails.leaveAppId}}</td>
            <td>{{leavedetails.empId}}</td>
            <td>{{leavedetails.fromDate}}</td>
            <td>{{leavedetails.toDate}}</td>
            <td>{{leavedetails.leaveType}}</td>
            <td>{{leavedetails.leaveappstatus}}</td>
           
            <td><i class="fa fa-pencil-square-o" aria-hidden="true" routerLink="updateLeave" [state]="leavedetails"></i></td>
            <td><i class="fa fa-trash-o" aria-hidden="true" (click)="deleteLeavedetails(leavedetails.leaveAppId)"></i></td>
        </tr>  
        </tbody>
         </table>
         <br><br>