
<div class="sidenav">

    <a routerLink="/bmprofile/bmpersonal"><img src="assets/images/80-805068_my-profile-icon-blank-profile-picture-circle-clipart.png"></a><br>
    <h5>Branch Manager</h5><br><br>
      
      <a routerLink="/bmprofile/viewCustomer">View Registered customers</a>
      <br><br>

      <a routerLink="/bmprofile/defaulter">View defaulter list</a>
  </div>
  
  <div class="topnav">
    <input type="text" placeholder="Search..">
    <a href="http://localhost:4200" class="split">LogOut</a>
  </div>

  <router-outlet></router-outlet>